.jfx-date-picker .input-line {
  -fx-background-color: #1976d2;
}

.jfx-date-picker .input-focused-line {
  -fx-background-color: #f57c00;
}

.fondo {
	-fx-background-color: #1976d2;
}

.jfx-snackbar-content {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20px;
}


.jfx-tab-pane .headers-region
{
  -fx-background-color: #1976d2;
}

.jfx-tab-pane .tab-header-background
{
  -fx-background-color: #1976d2;
}